  .three-stripes-section {
    background-color: white;
    }
  
  .stripe {
    padding: 20px;
    background-color: white;
    margin: 1vh;
    border: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
